{% extends('piccolo/nav.html.twig')  %}
{% block block_class %}block-category-list{% endblock  %}
{% block block_title  %}
    <h2>Category:</h2>
{% endblock  %}
{% block block_content  %}
    <ul class="menu">
        {% for term in terms %}
            <li class="menu-item"><a href="{{ path('term_show',{ 'id': term.id }) }}">{{ term.name }}</a></li>
        {% endfor %}
    </ul>

{% endblock  %}