<section class="block {% block block_class  %}default{% endblock  %}">
    {% block block_title_wrap %}
        <div class="block-title">
            {% block block_title  %}{% endblock  %}
        </div>
    {% endblock  %}
    {% block block_content_wrap %}
        <div class="block-content">
            {% block block_content  %}{% endblock  %}
        </div>
    {% endblock  %}

</section>